<%= form_tag({:controller => 'graphs', :action => 'bug_growth',
             :project_id => @project, :month => params[:month],
             :year => params[:year], :months => params[:months]},
             :method => :get, :id => 'query_form') do %>
<%= hidden_field_tag 'set_filter', '1' %>
<fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
  <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
  <div style="<%= @query.new_record? ? "" : "display: none;" %>">
    <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
  </div>
</fieldset>

<p class="buttons">
<%= text_field_tag 'no_of_days', @filter['no_of_days'], :size => 4 %>
<%= l(:label_days_from) %>
<%= select_month(@filter['month_from'], :prefix => "month", :discard_type => true) %>
<%= select_year(@filter['year_from'], :prefix => "year", :discard_type => true) %>

<%= link_to_function l(:button_apply), '$("#query_form").submit()',
                     :class => 'icon icon-checked' %>
<%= link_to l(:button_clear), { :project_id => @project, :set_filter => 1 },  
            :class => 'icon icon-reload' %>
</p>
<% end %>


<h2><%= l(:label_graphs_issue_growth) %></h2>
<% unless @bugs.empty? %>
    <%= tag("embed", :width => "100%", :height => 300, :type => "image/svg+xml", :src => url_for(:controller => 'graphs', :action => 'bug_growth_graph', 
      :v => params[:v], :f => params[:f], :op => params[:op], :no_of_days => params[:no_of_days], :month => params[:month], :year => params[:year])) if @project.nil? %>
    <%= tag("embed", :width => "100%", :height => 300, :type => "image/svg+xml", :src => url_for(:controller => 'graphs', :action => 'bug_growth_graph', :project_id => @project.id,
      :v => params[:v], :f => params[:f] ,:op => params[:op], :no_of_days => params[:no_of_days], :month => params[:month], :year => params[:year] )) unless @project.nil? %>
<% else %>
    <%= render :partial => 'issues/list_simple', :locals => { :issues => @issues } %>
<% end %>

<% content_for :sidebar do %>
    <%= render :partial => 'issues/sidebar' %>
<% end %>